[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "vim/plugged/coc.nvim"]
	path = vim/plugged/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
